*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    display:flex;
    background:#f4f6f9;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background:#1E3A8A;
    color:white;
    padding:30px;
    transition:0.3s;
    z-index:1000;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    text-decoration:none;
    margin:10px 0;
    padding:12px 15px;
    border-radius:10px;
    transition:.3s;
    font-size:17px;
}

.sidebar a:hover{
    background:#2563EB;
    transform:translateX(8px);
}

.main{
    flex:1;
    margin-left:250px;
    padding:40px 40px 40px 80px;
    transition:0.3s;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:40px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    margin-top:15px;
    color:#2563EB;
}

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:40px;
}

.chart-box{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.chart-box canvas{
    width:100% !important;
    height:350px !important;
}

.menu-btn{
    width: 45px;
    height: 45px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    
}

.sidebar.hide{
    left:-260px;
}

.main.full{
    margin-left:0;
}

.top-bar{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.menu-btn{
    position:static;
    width:45px;
    height:45px;
    border:none;
    border-radius:10px;
    background:#2563EB;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.top-bar h1{
    margin:0;
}