*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    display:flex;
    background:#f4f6f9;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#1E3A8A;
    color:white;
    padding:30px;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:20px 0;
    font-size:17px;
}

.sidebar a:hover{
    color:#FFD700;
}

.main{
    flex:1;
    padding:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:40px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    text-align:center;
}

.card h2{
    margin-top:15px;
    color:#2563EB;
}

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:40px;
}

.chart-box{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.chart-box canvas{
    width:100% !important;
    height:350px !important;
}