.container{

    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:80px;

    padding:60px;

}

.left-panel{

    width:500px;

    animation:fadeUp 1s;

}

.left-panel h1{

    font-size:60px;

    line-height:1.2;

    margin-bottom:20px;

}

.left-panel p{

    font-size:20px;

    color:#ddd;

    margin-bottom:30px;

    line-height:1.7;

}

.feature{

display:flex;

align-items:center;

gap:15px;

padding:18px;

margin-bottom:18px;

border-radius:18px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,.15);

}

.feature i{

font-size:22px;

color:#38BDF8;

}

.login-card{

width:420px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.25);

box-shadow:0 10px 40px rgba(0,0,0,.35);

animation:fadeUp .8s ease;

}

.login-card h1{

font-size:34px;

margin-bottom:10px;

text-align:center;

}

.login-card p{

text-align:center;

color:#ddd;

margin-bottom:30px;

text-shadow:0 0 15px rgba(56,189,248,.6);

}

.input-box{

margin-bottom:22px;

}

.input-box label{

display:block;

margin-bottom:8px;

font-size:15px;

font-weight:500;

}

.input-box input{

font-size:15px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:linear-gradient(
90deg,
#38BDF8,
#2563EB
);

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:
0 8px 40px rgba(0,0,0,.35),
0 0 25px rgba(56,189,248,.25);

}

.register{

margin-top:25px;

text-align:center;

}

.register a{

color:#7DD3FC;

text-decoration:none;

font-weight:600;

}

.register a:hover{

text-decoration:underline;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.input-box input:focus{

border:1px solid #38BDF8;

box-shadow:0 0 18px rgba(56,189,248,.4);

transition:.3s;

}
@media(max-width:950px){

.container{

flex-direction:column;

text-align:center;

}

.left-panel{

width:100%;

}

.login-card{

width:100%;

max-width:430px;

}

}