*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#2563EB,#1E3A8A);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:1100px;
    height:650px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.left-panel{
    flex:1;
    background:linear-gradient(135deg,#2563EB,#1E40AF);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}

.left-panel h1{
    font-size:42px;
    margin-bottom:20px;
}

.left-panel p{
    font-size:18px;
    line-height:1.8;
}

.login-card{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}

.login-card h2{
    font-size:32px;
    margin-bottom:10px;
}

.login-card p{
    color:gray;
    margin-bottom:30px;
}

.input-box{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
}

.input-box i{
    color:#2563EB;
    margin-right:15px;
}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563EB;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1E40AF;
    transform:translateY(-2px);
}

.register{
    text-align:center;
    margin-top:25px;
}

.register a{
    color:#2563EB;
    text-decoration:none;
    font-weight:600;
}