<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Email</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/detect.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">

    <h1>📧 Scan Email or SMS</h1>

    <form action="/predict" method="POST">

        <textarea
            name="message"
            rows="12"
            placeholder="Paste your Email or SMS here..."
            required></textarea>

        <br><br>

        <button type="submit">

            Detect Spam

        </button>

    </form>

    {% if prediction %}

        <h2>{{ prediction }}</h2>

    {% endif %}

    {% if category %}

        <h3>{{ category }}</h3>

    {% endif %}

</div>

</body>
</html>